<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/inicio">Valmart</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/inicio">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/estoque">Estoque <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" routerLink="/produto">Cadastrar Produto <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div>
        <a (click)="logout()">Sair</a>
    </div>
  </div>
</nav>