<form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <h3>Cadastro de produto</h3>

    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="nome" class="form-control" id="nome" name="nome" 
      [(ngModel)]="produto.nome">
    </div>

    <div class="form-group">
      <label for="precoc">Preço de custo</label>
      <input type="text" class="form-control" id="precoc" name="precoc" [(ngModel)]="produto.precoInicial">
    </div>

    <div class="form-group">
      <label for="catg">Categoria</label><br>
      <select name="catg" [(ngModel)]="categoria">
        <option value="Alimenticio">Alimenticio</option>
        <option value="Limpeza">Limpeza</option>
        <option value="Higiene pessoal">Higiene pessoal</option>
        <option value="Hortifruti">Hortifruti</option>
        <option value="Bebida">Bebida</option>
    </select>
    </div>

    <div class="form-group">
      <label for="desc">Quantidade</label>
      <input type="text" class="form-control" id="desc" name="desc" [(ngModel)]="produto.quantidade">
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>

</form>